*
{
    margin: 0px;
    padding: 0px;
}

.header
{
    height: 60px;
    width: 100%;
    background-color: #364a53;
    box-sizing: border-box;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
}

.logo
{   
    height: 60px;
    width: 20%;
    /* background-color: red; */
    font-size: 35px;
    font-weight: bold;
    font-family: segoe UI;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav
{
    height: 60px;
    width: 50%;
    /* background-color: blue;  */
}


.nav > ul
{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    line-height: 60px;
    font-size: 16px; 
}

.nav > ul > li
{
    list-style-type: none;
    font-family: arial;
}

.home
{
    font-weight: bold;
}

/* css for banner  */

.section
{
    height: 100px;
    padding: 60px 5%;
    background-color: #364a53;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    font-family: arial;
    flex-wrap: wrap;
}

.intro
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: yellow;
    cursor: pointer;
    animation-duration: 2s;
    animation-name: fadeInOut;
    animation-iteration-count: infinite;
}

  @keyframes fadeInOut {

    from{
        color: red;
    }

    to{
        color: yellow;
    }

}

.about
{
    height: 200px;
    background-color: #364a53;
    padding: 0px 0px;
    font-weight: bold;
    font-family: segoe UI;
}

.content
{
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 0px 10%;
    width: 40%;
    font-family: segoe UI;
    font-size: 23px;
}

.content > p
{
    color: white;
    font-size: 16px;
    font-family: segoe UI;
    font-weight: 100;
    padding: 5px;
}

.content > pre
{
    font-style: oblique;
    font-size: 40px;
}

.head
{
    color: yellow;
    font-weight: bold;
    font-family: segoe UI;
}

.btn
{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #364a53;
    font-weight: bold;
    font-size: 17px;
    color: #364a53;
    color: white;
    background-color: #222121;
    cursor: pointer;
    transition: 3s;
}

.btn:hover
{
    width: 50%;
}

/* css for footer  */

.ender
{
    height: 237px;
    width: 100%;
    background-color: #222121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.ender-content
{
    padding-top: 20px;
    padding: 0px 25%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 50%;
    color: white;
}

.start
{
    font-size: 20px;
    font-family: segoe UI;
    padding-top: 25px;
}

.startp
{
    font-family: segoe UI;
}

.btn2
{
    width: 30%;
    padding: 10px 13px;
    border-radius: 5px;
    border: 1px solid #364a53;
    font-weight: bold;
    font-family: segoe UI;
    font-size: 20px;
    color: white;
    background-color: #364a53;
    cursor: pointer;
}

.btn2:hover
{
    width: 15%;
}

.desc
{
    height: 30px;
    width: 100%;
    background-color: #222121;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-family: calibri;
}




@media(max-width: 576px)
{

.header
{
    padding: 0px 2%;
}

.logo
{
    font-size: 20px;
    padding: 0px;
    width: 30%;
}

.nav > ul > li
{
    width: 70%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.section
{
    height: 70px;
    font-size: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0px;
}

.content
{
    height: 80px;
    width: 90%;
    font-size: 20px;
    padding: 20px 5%;
    font-family: segoe UI;
}

.content > pre
{
    font-size: 25px;
}

.content > p
{
    font-size: 15px;
}

.btn
{
    padding: 10px 12px;
    font-size: 15px;
    font-family: segoe UI;
    font-weight: bold;
}

.btn2
{
    padding: 8px 14px;
    font-size: 15px;
    font-family: segoe UI;
    font-weight: bold;
    width: 40%;
}

.ender-content
{
    width: 90%;       
}

.startp
{
    font-family: segoe UI;
    font-size: 15px;
}

.desc
{
    padding: 19px 1%;
    font-size: 16px;
    background-color: black;
    font-weight: bold;
    font-style: oblique;
    display: flex;
    flex-wrap: wrap;
}


}



